<div class="bg-green-200 p-5 mt-8 border-b-2 border-green-400 sm:border-none sm:mx-10 sm:my-5 sm:rounded-lg min-h-fit sm:shadow-2xl">
  <%= form_with model: Comment.new, class: 'w-full h-full flex flex-col' do |form| %>
    <%= form.hidden_field :has_comment_id, value: parent.id %>
    <%= form.hidden_field :has_comment_type, value: parent.is_a?(Post) ? 'Post' : 'Comment' %>
    <%= form.text_area :body, placeholder: 'Write a comment...', rows: 3, autofocus: true, class: 'border-none w-full rounded-md h-full resize-none' %>
    <%# render "users/inline_errors", errors: @new_comment.errors[:body] %>
    <%= form.submit 'Submit', class: 'self-end bg-white p-2 mt-2 rounded-md border-2 border-transparent hover:border-2 hover:border-black w-fit' %>
  <% end %>
</div>
