<div class='bg-white p-6 mx-10 my-5 rounded-lg'>
  <%= render post.user %>
  <div class="bg-blue-200 flex flex-col">
    <div class=""><%= post.body %></div>
    <div class="flex flex-row justify-between mx-5">
      <ul class="flex flex-row">
        <li class="border-gray-200"><%= button_to 'view', post, method: :get, class: 'bg-white' %></li>
        <li class="border-gray-200"><%= button_to 'edit', edit_post_url(post), method: :get, class: 'bg-white' %></li>
        <li class="border-gray-200"><%= button_to 'delete', post, method: :delete, class: 'bg-white' %></li>
      </ul>
      <div class="bg-green-100 w-fit">
        <%= post.created_at %>
      </div>
    </div>
  </div>
</div>
