<%= content_for :col_left do %>
  <%= render 'banner_ad' unless user_signed_in? %>
<% end %>
<div class='bg-blue-400 w-full max-w-screen-lg min-w-md min-h-screen'>
  <%= render 'submit', resource: @post if user_signed_in? %>
  <%= render @posts, links: true %>
</div>
<%= content_for :col_right do %>
  <%= render 'banner_ad' unless user_signed_in? %>
<% end %>
